body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    text-align: center;
}


h1 {
    font-size: 42px;
    margin-top: 25px;
    letter-spacing: 2px;
}


.subtitle {
    color: #cbd5e1;
    font-size: 18px;
}


.container {

    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;

}


.panel {

    background: rgba(255,255,255,0.08);
    padding: 25px;
    border-radius: 20px;
    width: 260px;
    text-align: left;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.3);

}


h2 {

    color:#38bdf8;

}


label {

    display:block;
    margin-top:15px;

}


input {

    width:100%;

}


canvas {

    background:#020617;
    border-radius:20px;

    box-shadow:
    0 10px 40px rgba(0,0,0,0.5);

}


.info {

    margin-top:20px;
    font-size:18px;

}


.legend {

    margin-top:20px;

}


.red {
    color:#ef4444;
}

.blue {
    color:#3b82f6;
}

.green {
    color:#22c55e;
}
